.st-demo-header {
  background-color: #666666;
  color: white;
  font-size: 24px;
  padding: 8px 24px;
}

.st-demo-header button {
  color: black;
  font-size: 12px;
}

.st-demo-subheader {
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  height: 65px;
  margin-top: 50px;
  padding: 8px 24px;
}

.st-demo-subheader:first-child {
  margin-top: 0;
}
